h1{
	text-align: center;
}
body{
 margin-top: 40px;
 background-color: #485b6e;
 color: #fff;
 font-family: Helvetica;
}
img{
    width: 150px;
    height: auto;
}
p{
  text-align: center;
}
.button img{
    display: none;
}
.button{
    border: 1px solid #fff; 
    display: inline-block;
    position: absolute;
    margin: auto;
    height: 250px;
}
.col-md-4{
    height: 250px;
    width: 150px;
}
.reset{
    text-align: center;
}
.norge{
    background-image: "norge.gif"
}
.sverige{
    background-image: "sverige.svg"
}
#player1{
    text-align: center;
}
#player2{
    text-align: center;
}
